{% extends '../base.html' %}
{% block title %}
    * Login
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
  <div class="loginbox">
        <a href="/"><img src="{% static 'img/avatar.png'%}" class="avatar" alt=""></a>     
    <h1>Login Here</h1>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" style="font-size: 10px;">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>    
            {% endif %}
            <input type="text" name="username" id="" placeholder="Username">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="submit" value="Login" >
            <a href="{% url 'password_reset'%}">Forgot Password?</a></br>
        <a href="/accounts/signup/">Dont have an accout?</a>
        </form>
    </div>

{% endblock content %}    
     
  