{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static "js/fetch_messages.js" %}"></script>
<link rel="stylesheet" href="{% static "css/chatbox.css" %}">

<div class="chatbox">
    <input type="hidden" value="{{request.user.id}}" id="myid">
    <h1>{{receiver.username}}</h1>
    <div class="chatlogs">
    </div>
    <div class="chat-form">
        <form method="post" action="/chats/{{receiver.username}}/">
            {% csrf_token %}
            <textarea name="msg">
            </textarea>
            <input type="submit" value="send" class="btn btn-secondary">
        </form>
    </div>
</div>
{% endblock content %}
