<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>banter:home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src=""></script>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Welcome {{request.user.username}}</h1>
        <a href="{% url 'logout' %}">logout</a>
        {% for user in users_list %}
        
            <div>
                    <a href="/chats/{{user.username}}/"><h1>{{user.username}}</h1></a>
                    
            </div>
        {% endfor %}
    {% else %}
    <a href="{% url 'login' %}">login</a>
    {% endif %}
</body>
</html>