<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src=""></script>
</head>
<body>
    <p><a href="{% url 'password_reset' %}">reset password</a></p>
    {% if request.user.is_authenticated %}
    welcome back  <a href='/accounts/logout'>logout</a> 

    {% for user in users_list %}
    <li><a href="{% url 'message_create' %}">{{user}}</a></li>
        {% empty %}
    <li>No users yet.</li>
{% endfor %}
{% else %}
    <p>not logged in</p>

    {% endif %}

</body>
</html>